################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs/GrovePi_Core
/GrovePiDevice/bin/Debug/netcoreapp3.0
/GrovePiDevice/obj
